.react-slideshow-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: black;
}

.react-slideshow-content-aligner {
    display: flex;
    flex: 1 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.react-slideshow-content-container {
    background-color: black;
    overflow: hidden;
}

.react-slideshow-slide {
    display: flex;
}