@import url("./fonts.css");
html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

#app {
  width: 80%;
  height: 80%;
  display: flex;
  overflow: hidden;
}

.slide-preview {
  width: 192px;
  height: 108px;
  min-width: 192px;
  min-height: 108px;
  border: 2px solid black;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  transform: scale(1);
  margin: 0.5em;
}

.slide-preview:hover, .slide-preview:focus{
  cursor: pointer; 
  border: 2px solid lightslategrey;
  transform: scale(1.1)
}

 li {
  margin: 0.5em 0;
}

:root {
  --demo-grid-size: 128px;
}

.grid-background {
  background-color: rgb(19, 66, 102);
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.25) 6px, transparent 6px),
    linear-gradient(90deg, rgba(255,255,255,.25) 6px, transparent 6px);
  background-size: 128px 128px;
}

.grid-view > * {
  text-shadow: rgb(0 0 0) 0px 0px 12px;
}

button {
    margin: 0.25em 0;
    font-size: 1em;
    padding: 0.3em 1em;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat", sans-serif;
    font-weight: 900;    
}

button:hover {
  cursor: pointer;
}